<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="detailpage.css">
</head>
<body>
    <div class="header">

        <div id="logo">
            <span id="vanguard">VANGUARD</span> 
            <span id="dermatology">DERMATOLOGY</span>
        </div>

        <div class="buttons home_page">Home Page</div>
        <div class="buttons about_us">About Us</div>
        <div class="buttons contact_us">Contact Us</div>
    </div>

    <div class="top">
        <div class="v_logo">V</div>
        <div class="top_img">
            <img src="dummy.jpg" alt="" class="top_img_img">
        </div>
        
        
        <div class="right_wrapper">
            <div class="right">
                <div class="note">ANTI AGING</div>

                <div class="content_title_wrapper">
                    <div class="content_title">Lorem ipsum dolor sit</div>
                </div>
                
                <div class="content_mini">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod facilis ex tempora dolorum quisquam ipsum.</div>
                <div class="continue_reading">continue reading</div>
            </div>
        </div>

    </div>

    <div class="tops_bottom_color"></div>

    <div class="content">
        <div class="note" id="note_content">opcional aouthor name here</div>        
        <h1 class="content_title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, provident inventore ratione mollitia iusto temporibus.</h1>
        <p class="content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorum laboriosam id reiciendis sapiente maiores corporis itaque incidunt. Exercitationem culpa sunt minus molestias!</p>
        <p class="content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorum laboriosam id reiciendis sapiente maiores corporis itaque incidunt. Exercitationem culpa sunt minus molestias!</p>
        <p class="content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorum laboriosam id reiciendis sapiente maiores corporis itaque incidunt. Exercitationem culpa sunt minus molestias!</p>

        <p class="bordered_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo enim earum, natus accusantium quia cupiditate.
            <br> <a href="facebook.com" id="share_a"> <span id="facebook">f</span>  <span class="note share">share</span></a>
        </p>

        <p class="content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorum laboriosam id reiciendis sapiente maiores corporis itaque incidunt. Exercitationem culpa sunt minus molestias!</p>
        <p class="content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorum laboriosam id reiciendis sapiente maiores corporis itaque incidunt. Exercitationem culpa sunt minus molestias!</p>
        <p class="content_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorum laboriosam id reiciendis sapiente maiores corporis itaque incidunt. Exercitationem culpa sunt minus molestias!</p>
    </div>

    <div class="read_more">
        <p class="read_more_title note share"> READ MORE</p>
        <p class="read_more_segment note share">DREAM NEWS</p>
        <p class="read_more_segment note share">ANTI-AGING</p>
        <p class="read_more_segment note share">HAIR</p>
        <p class="read_more_segment note share">LıFESTYLE</p>
    </div>

    <footer></footer>
</body>
</html>