<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/assets/css/homepage.css">
</head>
<body>
    <div class="header">

        <div id="logo">
            <span id="vanguard">VANGUARD</span> 
            <span id="dermatology">DERMATOLOGY</span>
        </div>

        <div class="buttons home_page">Home Page</div>
        <div class="buttons about_us">About Us</div>
        <div class="buttons contact_us">Contact Us</div>
    </div>

    <div class="top">
        <div class="top_img">
            <img src="../../../public/assets/images/dummy.jpg" alt="" class="top_img_img">
        </div>
        
        
        <div class="right_wrapper">
            <div class="right">
                <div class="note">ANTI AGING</div>

                <div class="content_title_wrapper">
                    <div class="content_title">Lorem ipsum dolor sit</div>
                </div>
                
                <div class="content_mini">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod facilis ex tempora dolorum quisquam ipsum.</div>
                <div class="continue_reading">continue reading</div>
            </div>
        </div>
        
    </div>
    
    <div class="content">

            <div class="content_left">
                <div class="content_header">
                    <span class="content_header_items">ALL</span>
                    <span class="content_header_items">LATEST</span>
                    <span class="content_header_items">HAIR</span>
                    <span class="content_header_items">LIFESTYLE</span>
                </div>

                <div class="main_contents">
                    <div class="main_contents_inside"></div>
                </div>
                
                <div class="main_contents">
                    <div class="main_contents_inside">
                        <div class="main_contents_inside_img">
                            <img class="main_contents_inside_img_img" src="../../../public/assets/images/dummy.jpg" alt="">
                        </div>

                        <div class="content_inside_text">
                            <span class="note">note</span>
                            <h3 class="content_h1">Lorem, ipsum dolor.</h3>
                            <span class="content_inside_explanation">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                            <span class="continue_reading">continue reading</span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="main_contents">
                    <div class="main_contents_inside"></div>
                </div>
                <div class="main_contents">
                    <div class="main_contents_inside"></div>
                </div>


            </div>

            <div class="content_right">
                <div class="content_header" id="content_header_right">
                    <span class="content_header_items">MUST READ</span>
                </div>

                <div class="content_right_segment">
                    <div class="content_right_note">NOTE</div>
                    <div class="content_right_h3">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
                </div>
                <div class="content_right_segment"></div>
                <div class="content_right_segment"></div>
                <div class="content_right_segment"></div>
            
                <div class="get_email">
                    <div class="v_logo">V</div>
                    <h1 class="get_email_header">Get new blogs to your email !</h1>
                    <input type="email" name="email" id="email" class="email" placeholder="Your Email">
                    <button class="button">Gönder</button>
                </div>


            </div>
    </div>
    <footer></footer>
</body>
</html>