<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/assets/css/homepage.css">
</head>

<%- include("../layouts/header.ejs") %>

    <div class="top">
        <div class="top_img">
            <img src="../../../public/assets/images/dummy.jpg" alt="" class="top_img_img">
        </div>
        
        
        <div class="right_wrapper">
            <div class="right">
                <div class="note top_note">ANTI AGING</div>

                <div class="content_title_wrapper">
                    <div class="content_title top_title">Lorem ipsum dolor sit</div>
                </div>
                
                <div class="content_mini top_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod facilis ex tempora dolorum quisquam ipsum.</div>
                <div class="continue_reading">continue reading</div>
            </div>
        </div>
        
    </div>
    
    <div class="content">

            <div class="content_left">
                <div class="content_header">
                    <span class="content_header_items">ALL</span>
                    <span class="content_header_items">LATEST</span>
                    <span class="content_header_items">HAIR</span>
                    <span class="content_header_items">LIFESTYLE</span>
                </div>

                <div class="main_contents">
                    <div class="main_contents_inside">
                        <div class="main_contents_inside_img">
                            <img class="main_contents_inside_img_img img1" src="../../../public/assets/images/dummy.jpg" alt="">
                        </div>

                        <div class="content_inside_text">
                            <span class="note note1">note</span>
                            <h3 class="content_h1 title1">Lorem, ipsum dolor.</h3>
                            <span class="content_inside_explanation explanation1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                            <span class="continue_reading">continue reading</span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="main_contents">
                    <div class="main_contents_inside">
                        <div class="main_contents_inside_img">
                            <img class="main_contents_inside_img_img img2" src="../../../public/assets/images/dummy.jpg" alt="">
                        </div>

                        <div class="content_inside_text">
                            <span class="note note2">note</span>
                            <h3 class="content_h1 title2">Lorem, ipsum dolor.</h3>
                            <span class="content_inside_explanation explanation2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                            <span class="continue_reading">continue reading</span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="main_contents">
                    <div class="main_contents_inside">
                        <div class="main_contents_inside_img">
                            <img class="main_contents_inside_img_img img3" src="../../../public/assets/images/dummy.jpg" alt="">
                        </div>

                        <div class="content_inside_text">
                            <span class="note note3">note</span>
                            <h3 class="content_h1 title3">Lorem, ipsum dolor.</h3>
                            <span class="content_inside_explanation explanation3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                            <span class="continue_reading">continue reading</span>
                        </div>
                        
                    </div>
                </div>

                <div class="main_contents">
                    <div class="main_contents_inside">
                        <div class="main_contents_inside_img">
                            <img class="main_contents_inside_img_img img4" src="../../../public/assets/images/dummy.jpg" alt="">
                        </div>

                        <div class="content_inside_text">
                            <span class="note note4">note</span>
                            <h3 class="content_h1 title4">Lorem, ipsum dolor.</h3>
                            <span class="content_inside_explanation explanation4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                            <span class="continue_reading">continue reading</span>
                        </div>
                        
                    </div>
                </div>


            </div>

            <div class="content_right">
                <div class="content_header" id="content_header_right">
                    <span class="content_header_items">MUST READ</span>
                </div>

                <div class="content_right_segment">
                    <div class="content_right_note rightnote1">NOTE</div>
                    <div class="content_right_h3 righttitle1">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
                </div>
            
                <div class="content_right_segment">
                    <div class="content_right_note rightnote2">NOTE</div>
                    <div class="content_right_h3 righttitle2">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
                </div>
                
                <div class="content_right_segment">
                    <div class="content_right_note rightnote3">NOTE</div>
                    <div class="content_right_h3 righttitle3">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
                </div>

                <div class="content_right_segment">
                    <div class="content_right_note rightnote4">NOTE</div>
                    <div class="content_right_h3 righttitle4">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
                </div>

                <div class="get_email">
                    <div class="v_logo">V</div>
                    <h1 class="get_email_header">Get new blogs to your email !</h1>
                    <input type="email" name="email" id="email" class="email" placeholder="Your Email">
                    <button class="button">Gönder</button>
                </div>


            </div>
    </div>

    <%- include("../layouts/footer.ejs") %>
    <script src="../../../public/assets/js/homepage.js"></script>
</body>
</html>