<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/assets/css/change_information.css">
</head>
<body>
    <div class="content">

        <div class="content_left">

            <div class="main_contents addcontent">
                <a href="../add_content/add_content.html">
                    <button name="add" id="add">add blog</button>
                </a>
                
            </div>

            <div class="main_contents">
                <div class="main_contents_inside">
                    <div class="main_contents_inside_img">
                        <img class="main_contents_inside_img_img" src="../../public/assets/images/dummy.jpg" alt="">
                    </div>

                    <div class="content_inside_text">
                        <span class="note">note</span>
                        <h3 class="content_h1">Lorem, ipsum dolor.</h3>
                        <span class="content_inside_explanation">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                        <button name="update">update </button>
                    </div>
                </div>
            </div>
            
            <div class="main_contents">
                <div class="main_contents_inside">
                    <div class="main_contents_inside_img">
                        <img class="main_contents_inside_img_img" src="../../public/assets/images/dummy.jpg" alt="">
                    </div>

                    <div class="content_inside_text">
                        <span class="note">note</span>
                        <h3 class="content_h1">Lorem, ipsum dolor.</h3>
                        <span class="content_inside_explanation">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                        <button name="update">update </button>
                    </div>
                    
                </div>
            </div>
            
            <div class="main_contents">
                <div class="main_contents_inside">
                    <div class="main_contents_inside_img">
                        <img class="main_contents_inside_img_img" src="../../public/assets/images/dummy.jpg" alt="">
                    </div>

                    <div class="content_inside_text">
                        <span class="note">note</span>
                        <h3 class="content_h1">Lorem, ipsum dolor.</h3>
                        <span class="content_inside_explanation">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                        <button name="update">update </button>
                    </div>
                </div>
            </div>
            <div class="main_contents">
                <div class="main_contents_inside">
                    <div class="main_contents_inside_img">
                        <img class="main_contents_inside_img_img" src="../../public/assets/images/dummy.jpg" alt="">
                    </div>

                    <div class="content_inside_text">
                        <span class="note">note</span>
                        <h3 class="content_h1">Lorem, ipsum dolor.</h3>
                        <span class="content_inside_explanation">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                        <button name="update">update </button>
                    </div>
                </div>
            </div>

            <div class="pagination"></div>

        </div>
</div>


<div class="pagination">
    <button class="before">before</button>
    <button class="pagination_segment">1</button>
    <button class="pagination_segment">2</button>
    <button class="pagination_segment">...</button>
    <button class="pagination_segment">maxpage</button>
    <button class="after">after</button>
</div>

<script src="../../public/assets/js/change_information.js"></script>
</body>
</html>