<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/change_information.css">
</head>
<body>
    <div class="content">

        <div class="content_left">

            <div class="main_contents addcontent">
                    <button name="add" id="add" class="addcontentbutton">add blog</button>
            </div>

            <div class="main_contents content1">
                <div class="main_contents_inside">
                    <div class="main_contents_inside_img">
                        <img class="main_contents_inside_img_img img1" src="../../assets/images/dummy.jpg" alt="">
                    </div>

                    <div class="content_inside_text">
                        <span class="note note1">note</span>
                        <h3 class="content_h1 h11">Lorem, ipsum dolor.</h3>
                        <span class="content_inside_explanation explanation1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                        <button ><a href="" class="content1_update">update</a></button>
                    </div>
                </div>
            </div>
            
            <div class="main_contents content2">
                <div class="main_contents_inside">
                    <div class="main_contents_inside_img">
                        <img class="main_contents_inside_img_img img2" src="../../assets/images/dummy.jpg" alt="">
                    </div>

                    <div class="content_inside_text">
                        <span class="note note2">note</span>
                        <h3 class="content_h1 h12">Lorem, ipsum dolor.</h3>
                        <span class="content_inside_explanation explanation2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                        <button ><a href="" class="content2_update">update</a></button>
                    </div>
                    
                </div>
            </div>
            
            <div class="main_contents content3">
                <div class="main_contents_inside">
                    <div class="main_contents_inside_img">
                        <img class="main_contents_inside_img_img img3" src="../../assets/images/dummy.jpg" alt="">
                    </div>

                    <div class="content_inside_text">
                        <span class="note note3">note</span>
                        <h3 class="content_h1 h13">Lorem, ipsum dolor.</h3>
                        <span class="content_inside_explanation explanation3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                        <button ><a href="" class="content3_update">update</a></button>
                    </div>
                </div>
            </div>
            <div class="main_contents content4">
                <div class="main_contents_inside">
                    <div class="main_contents_inside_img">
                        <img class="main_contents_inside_img_img img4" src="../../assets/images/dummy.jpg" alt="">
                    </div>

                    <div class="content_inside_text">
                        <span class="note note4">note</span>
                        <h3 class="content_h1 h14">Lorem, ipsum dolor.</h3>
                        <span class="content_inside_explanation explanation4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quod cum error inventore nemo sed perferendis voluptatem assumenda aliquam ad. ljhlkjh k hjklj hlk jh lkj hjlkj hklj hlk hjlkjhjkl jh lkjhlk jh hjl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minus.</span>
                        <button ><a href="" class="content4_update">update</a></button>
                    </div>
                </div>
            </div>

            <div class="pagination"></div>

        </div>
</div>


<div class="pagination">
    <button class="before" id="before">before</button>
    <span class="pagination_segment nonbutton" id="pagenum1">1</span>
    <span class="pagination_segment nonbutton" id="pagenum2">2</span>
    <span class="pagination_segment nonbutton" id="pagedots">...</span>
    <span class="pagination_segment nonbutton" id="maxpage">maxpage</span>
    <button class="after" id="after">after</button>
</div>

<script src="../../assets/js/change_information.js"></script>
</body>
</html>