<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/admin.css">
</head>
<body>
        <label for="admin">admin name</label>
        <input class="username" type="text" name="username">
        <label for="password">password</label>
        <input class="password" type="text" name="password">
        <button name="button" class="button">SEND</button>
        
    <script src="../../assets/js/admin_enter.js"></script>
</body>
</html>