
<body>
    <div class="header">

        <div id="logo">
            <span id="vanguard">VANGUARD</span> 
            <span id="dermatology">DERMATOLOGY</span>
        </div>

        <div class="buttons home_page">Home Page</div>
        <div class="buttons about_us">About Us</div>
        <div class="buttons contact_us">Contact Us</div>
    </div>